$primary: #4460F7;
$primaryAccent: #2140E8;

$secondary: #F9A52B;

$black: #1A1B1D;
$grey3: #9194A5;
$grey2: #B9BDCF;
$grey1: #E0E2EA;
$white: #F0F1F5;

$mainBackground: #F2F2F2;

// breakpoints

$s: 586px;
$m: 769px;
$l: 1024px;
$xl: 1280px;
